
.top_container{
    margin-top: 16px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.bottem_container{
    /* border: 1px solid rgb(255, 3, 3);*/
    margin-top: 16px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.bottem_left{
    display: grid;
    gap:30px;
    grid-template-columns: 1fr 1fr 1fr ;
}
.lung{
    height: 300px;
    margin-left: 200px;
}