.App{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #772CF2;
  font-family:'poppins' ;
  display: grid;
  grid-template-columns: 1fr 15fr;
}
.content{
  background-image: url("../src//assets/background2.jpg");
  background-size:cover;
  /* background-color: #f5f5f5; */
  padding-left: 5px;
  margin-top: 15px;
  height: 91vh;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 3px 5px 0px rgb(0, 0, 0);
}

.logo{
  height: 80px;
  width: 80px;
}

.navbar{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 30px;
  align-items: center;
}
.divcenter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  margin-left: 15px;
}
.mid{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.bottem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

#light{
  background-color: #772CF2;
}
#dark{
  background-color: #1F2022;
}