.contaner{
  display:grid;
  grid-template-columns: 1fr 15fr;
}

.content{
  background-color:rgb(248, 238, 254);
  padding-left: 5px;
  margin-top: 15px;
  height: 91vh;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 3px 5px 0px rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.searchBar {
  display: flex;
  align-items: center;
  padding: 35px 130px 20px 180px;
  width: 600px;
  margin-bottom: 30px;

}


.searchBar input {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 18px;
  background-color:#f6f6f7;
  border-color: #6309f5;
}

.measurementInputsOne {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 60px;
  width: 500px;
  margin-bottom: 20px;
}

.measurementInputsOne input{
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 7px 7px 30px 7px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color:#d4c6fe60;
  color: rgba(74, 73, 73, 0.796);
  border-color: #8240EE;
}

.measurementInputsOne input:first-child {
  margin-bottom: 30px; /* Adjust the value as needed */
}

.measurementInputsTwo {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 60px;
  width: 600px;
  color: rgb(138, 43, 226);
  
}

.measurementInputsTwo select{
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 7px 7px 30px 7px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color:#d4c6fe60;
  color: rgba(74, 73, 73, 0.796);
  border-color: black;
  border-width: 2px;
  border-color: #8240EE;
}

.measurementInputsTwo select:first-child {
  margin-bottom: 30px; /* Adjust the value as needed */
}

.measurementInputsThree {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 60px;
  width: 600px;
  
  
}

.measurementInputsThree input{
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 7px 7px 30px 7px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #d4c6fe60;
  color: rgba(74, 73, 73, 0.796);
  border-color: #8240EE;
}

.measurementInputsThree input:first-child {
  margin-bottom: 10px; /* Adjust the value as needed */
  margin-top:20px;
}

.viewMore{
  padding: 40px 40px 40px 60px;
}

.viewMore button{
  background-color:#8240EE;
  border-color: #8240EE;
}

.viewMoreBtn{
  font-size: 18px;
  border-radius: 40px;
  padding: 12px 30px 12px 30px;
  color: rgb(247, 246, 248);
}

.bottomButtons{
  padding: 20px 40px 40px 60px;
  
}

.bottomButtons button{
  background-color: #8240EE;
  border-color: #8240EE;
}

.downloadBtn,.uploadBtn{
  margin-right: 50px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  color: rgb(246, 242, 251);
}

.secondColumn{
  background-color: white;
  height: 91vh;
}

.wordLine1 p{
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10px;
  padding-left: 30px;
  color: rgb(10, 10, 10);
}

.wordLine2{
  font-size: 25px;
  padding-left: 30px;
  margin-top: 2px;
  color: rgb(1, 1, 1);
}

.boxesContainer {
  display: flex;
  padding-left: 100px;
}

.boxes{
  background-color: rgba(119, 44, 242, 0.28);
  width: 100px;
  height: 100px;
  border-radius: 20px 20px 40px 20px;
  margin-left: 20px;
  box-shadow: 5px -1px 0px #782eee; /* Add box shadow */
  margin-right: 20px; /* Increase the margin */
  margin-top: 2px;
  padding: 10px 4px 0px 4px;
}



.line1{
  font-size: 30PX;
  text-align: center;
  margin: 0;
}

.line2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  padding: 0px 0px 0px 15px;
}

.line1,.line2{
  color: rgb(43, 41, 41);
}

.girl{
  width: 260px;
  height: 46vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
  padding: 25px 0px 1000px 1200px;

}