.header h1{
    margin: 0;
    padding-top: 10px;
    color: white;
    font-size: 40px;
  }
  .header{
    padding-left: 60px;
    height: 10vh;
    display: grid;
    grid-template-columns: 15fr 1fr;
  }
  .switch{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #light{
    background-color: #772CF2;
  }
  #dark{
    background-color: #1F2022;
  }