.header h1{
    margin: 0;
    padding-top: 5px;
    color: white;
    font-size: 30px;
  }
  .header{
    padding-left: 60px;
    height: 6vh;
    display: grid;
    grid-template-columns: 15fr 1fr;
  }
  .switch{
    display: flex;
    justify-content: center;
    align-items: center;
  }