
.top_container{
    margin-top: 16px;
    margin-left: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:5%;
}
.detail{
    display: flex;
    gap:5%;
    align-items: center;
}
.bottem{
    margin-top: 10px;
    margin-left: 30px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr ;
}
.lung{
    height: 300px;
    margin-left: 200px;
}

.Top{
    display: flex;
    flex-wrap: wrap;
    gap:5%;
}
.ContentofAN{
    display: flex;
}