.contaner {
  display: grid;
  grid-template-columns: 1fr 15fr;
}
.content {
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  margin-top: 15px;
  height: 91vh;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 3px 5px 0px rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.firstColumn {
  width: 195vh;
  height: 91vh;
  border-radius: 50px 0px 0px 50px;
}

.secondColumn {
  background-color: white;
  height: 91vh;
}

.firstColumn h2 {
  font-size: 25px;
  letter-spacing: 2px;
  padding-top: 35px;
  padding-left: 20px;
  font-style: oblique;
  color: rgba(6, 6, 6, 0.81);
}

.secondColumn h4 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.secondColumn h3 {
  font-size: 50px;
}

.secondColumn h5 {
  font-size: 20px;
  margin-left: 10px;
}

form {
  margin-left: 100px;
}

#bloodType,
#smokingStatus {
  width: 80%; /* Adjust the width value as needed */
  margin-top: 30px;
  height: 50px;
  margin-left: 30px;
}

#weight,
#height,
#Co2 {
  background-color: white;
  border-radius: 10px 10px 30px 10px;
  width: 65%;
}

.submitBtn {
  height: 45px;
  width: 150px;
  margin: 30px;
  background-color: #8240ee;
  border-color: #8240ee;
  font-weight: bold;
}

.submitBtn:hover {
  background-color: #6a2affa3; /* Change background color on hover */
  color: rgb(6, 6, 6); /* Change text color on hover */
}

.downloadBtn {
  margin: 30px;
  width: 200px;
  height: 40px;
  background-color: #8240ee;
  border-color: #8240ee;
}
.uploadBtn {
  width: 200px;
  height: 40px;
  margin: 30px 30px 30px 10px;
  background-color: #8240ee;
  border-color: #8240ee;
}

.downloadBtn:hover,
.uploadBtn:hover {
  background-color: #6a2affa5; /* Change background color on hover */
  color: rgb(4, 4, 4); /* Change text color on hover */
}

.customPlaceholderFontSize ::placeholder {
  font-size: 17px; /* Adjust the font size as needed */
}

.customSelectFontSize select {
  font-size: 17px; /* Adjust the font size as needed */
  color: rgba(59, 58, 58, 0.771);
  border-color: #6a2affa5;
  border-width: 2px;
  border-radius: 10px 10px 30px 10px;
}

.girl {
  width: 440px;
  height: 97vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px; /* Adjust the top position as needed */
  right: 60px; /* Move the image towards the left */
  border-bottom-right-radius: 48px;
  overflow: hidden;
  padding: 30px; /* Reduce the padding to avoid overlap */
}

.boxesContainer {
  display: flex;
  padding-left: 100px;
}

.boxes {
  background-color: rgba(119, 44, 242, 0.28);
  width: 120px;
  height: 120px;
  border-radius: 20px 20px 40px 20px;
  margin-left: 60px;
  box-shadow: 5px -1px 0px #782eee; /* Add box shadow */
  margin-right: 20px; /* Increase the margin */
  margin-top: 40px;
  padding: 10px 10px 0px 10px;
  color: rgb(63, 61, 61);
  font-size: 30px;
}

.line1 {
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  color: black;
}

.line2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0px 0px 0px 7px;
  color: black;
}

