.firstColumn {
  background-color: #f1ebff;
  height: 100vh;
  /* Add any other styles for the red column */
}

.secondColumn {
  background-color: #9069ff;
  color: white; /* Change text color to white */
  /* Add any other styles for the black column */
}

.firstColumn h1 {
  color: black;
  padding-left: 340px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.firstColumn p {
  color: rgb(12, 12, 12);
  font-size: 30px;
  font-weight: bold;
  padding-left: 180px;
  margin-bottom: 0px;
}


#username {
  margin-left: 202px;
  background-color: rgba(255, 255, 255, 0.84);
}

#password {
  background-color: rgba(255, 255, 255, 0.84);
}

.wordOr {
  display: flex;
  margin-left: 200px;
  margin-top: 20px;
  margin-right: 280px;
}
.customButton {
  background-color: #705aee; /* Change the color to your desired color */
  border-color: rgba(91, 17, 209, 0.6); /* Change the border color to match */
  color: white; /* Change the text color to contrast with the background */
  margin-right: 70px;
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  width: 350px;
}

.customButton:hover {
  background-color: rgba(
    91,
    17,
    209,
    0.6
  ); /* Change the hover background color */
  border-color: rgb(114, 52, 201); /* Change the hover border color */
  color: black;
}

.loginbtn {
  background-color: rgb(145, 92, 252);
  color: black;
  border: none;
  width: 350px;
  padding: 10px;
  margin-right: 70px;
  margin-top: 20px;
}

.loginbtn:hover {
  background-color: rgb(145, 92, 252);
  color: white;
}
.box1 {
  width: 450px;
  height: 600px;
  background: #beaaff;
  opacity: 1;
  border-radius: 70px;
  position: absolute;
  overflow: hidden;
  margin-left: 130px;
  margin-top: 60px;
  position: relative; /* Ensure relative positioning for absolute children */
}

.box2 {
  width: 450px;
  height: 610px; /* Half of the height of box2 */
  background: #6b2cf2;
  opacity: 1;
  position: absolute;
  border-radius: 70px;
  overflow: hidden;
  margin-left: 80px;
  margin-top: 100px;
}

.innerBox {
  width: 100%; /* Adjust the width as needed */
  height: 40%; /* Adjust the height as needed */
  background: rgba(
    254,
    253,
    255,
    0.655
  ); /* Background color of the inner box */
  opacity: 0.6; /* Adjust opacity as needed */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.welcomeMessage {
  color: black;
  font-size: 48px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  /* Center the text horizontally */
  padding-left: 7px;
  letter-spacing: 10px;
  font-style: italic;
  margin-top: 60px;
}
.backText {
  display: block; /* Display "Back" as block to position it below "Welcome" */
  font-size: 48px; /* Adjust font size as needed */
  padding-left: 180px;
  letter-spacing: 10px;
  font-style: italic;
  color: black;
}

.girl_with_laptop {
  margin-top: 230px;
  width: 320px;
  height: 340px;
  margin-left: 60px;
}

.forgot p {
  font-size: 20px;
  padding-left: 190px;
  padding-top: 10px;
  color: #5740de;
}

.mem {
  margin-left: 260px;
  margin-top: 40px;
  color: #6b2cf2;
}

.create {
  color: rgb(128, 59, 218);
}

.create:hover {
  color: rgb(64, 14, 117); /* Change the color to red on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}
