
.dashboard{
    width: 75px;
    height: 50px;
}
.profile{
    width: 60px;
    height: 55px;
}
.health{
    width: 50px;
    height: 50px;
}

.history{
    width: 50px;
    height: 50px;
}
.setting{
    width: 50px;
    height: 42px;
}
.logout{
    width: 50px;
    height: 40px;
}

.container{
    padding: 0px;
    padding-top: 10px;
    margin: 0;
    width: 100px;
}
.container:hover{
    padding: 0px;
    padding-top: 10px;
    margin: 0;
    width: 100px;
    border-radius:50px 0px 0px 50px ;
    background-color: #7f13cc;
    box-shadow: 0px 2px 6px 0px rgb(38, 35, 35);
}
.container_active {
    padding: 0px;
    padding-top: 10px;
    margin: 0;
    width: 100px;
    border-radius:50px 0px 0px 50px ;
    background-color: #AB7CF7;
    -webkit-filter: drop-shadow(15px 0 0 15px  rgb(6, 6, 6)); /* Adds a red shadow on hover */
  filter: drop-shadow(15px 0 0 15px rgb(8, 8, 8));

}
.container_active img{
    
    -webkit-filter: drop-shadow(0 0 5px rgb(6, 6, 6)); /* Adds a red shadow on hover */
  filter: drop-shadow(0 0 2px  rgb(8, 8, 8));
}

#dark .container_active{
    background-color: #25CEDE;
}